{% extends "base.html" %}

{% block title %}
Python Workshop Homepage
{% endblock %}


{% block styles %}
    {{super()}}
    <link href="static/css/3-col-portfolio.css" rel="stylesheet">
{% endblock %}


{% block body %}
    {{ super() }}

<!-- Page Content -->
<div class="container">

    <!-- Projects Row -->
    {% for num, day in days %}

    {#  Row Title          #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">days[{{ num }}] </h1>
        </div>
    </div>

    <div class="row">
    {% for lesson in day %}

        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="static/img/{{ lesson.img }}" alt="">
            </a>
            <h3>
                <a href="lessons/{{ lesson.title }}"> {{ lesson.title }}</a>
            </h3>
            <p>{{ lesson.summary }}</p>
        </div>
    {% endfor %}
    </div>
    <!-- /.row -->
    {% endfor %}

    <hr>
    <hr>


</div>
<!-- /.container -->

{% endblock %}