{% extends "base.html" %}


{% block styles %}
    {{ super() }}
    <link href="static/css/landing-page.css" rel="stylesheet">
    <link href="static/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


{% endblock %}

{% block scripts %}
    {{ super() }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
{% endblock %}


{% block body %}
    {{ super() }}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MPI Programming Workshop</h1>
                        <h2>"Introduction to Scientific Programming with Python"</h2>
                        <hr class="intro-divider">
                        <h3>Date: (Insert Date Here)</h3>
                        <h3>Address: MPI Biochemistry Campus, Room ###, Address, Planegg</h3>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

   <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Before the Workshop: Install Required Software</h2>
                    <hr class="light">
                    <a href="https://www.continuum.io/downloads" class="page-scroll btn-lg btn-default btn-xl sr-button">Anaconda Python 3 Distribution</a>
                    <a href="https://atom.io/" class="page-scroll btn-lg btn-default btn-xl sr-button">Atom Text Editor</a>
                    <a href="https://cygwin.com/install.html" class="page-scroll btn-lg btn-default btn-xl sr-button">Cygwin (Windows Only)</a>
                    <hr class="light">
                </div>
            </div>
        </div>
    </section>

    <!-- Page Content -->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Workshop Goals</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for name, logo, text in [('Accessible', 'line-chart', 'No Programming Experience Required.'),
                                            ('Engaging', 'forward', 'Learn Free, Open-Source Data Analysis Tools.'),
                                            ('Empowering', 'bar-chart', 'Learn Strategies For Accessing, Organizing, and Visualizing Your Data to Give You New Insights into Your Experiments.'),
                                            ('Fun', 'paper-plane', 'Hands-On Learning Alongside Your Labmates')] %}
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-{{ logo }} text-primary sr-icons"></i>
                            <h3>{{ name }}</h3>
                            <p class="text-muted">{{ text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Course Plan</h1>
                    <hr class="primary">
                </div>
            </div>

            <!-- Projects Row -->
            {% for num, day in days %}

                {% if num + 1 is divisibleby 2 %}
                    <div class="content-section-a">
                {% else %}
                    <div class="content-section-b">
                {% endif %}

                    {#  Row Title          #}
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="section-heading text-center">Day {{ num }}: {{ daydata[num].title }} </h1>
                        </div>
                    </div>

                    <div class="row">
                    {% for lesson in day %}
                        <div class="col-md-4 portfolio-item">
                            <a href="lessons/{{ lesson.title }}">
                                <img class="img-responsive" src="static/img/{{ lesson.img }}" alt="">
                            </a>
                            <h3>
                                <a href="lessons/{{ lesson.title }}"> {{ lesson.title }}</a>
                            </h3>
                            <p>{{ lesson.summary }}</p>
                        </div>
                    {% endfor %}
                    </div>

                </div>
            {% endfor %}

                <hr>
                <hr>

            </div>
        </div>
            <!-- /.container -->
    </section>

   <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">After the Workshop: Continue Learning and Growing!</h2>
                    <hr class="light">
                      <ul class="list-inline">
                        {% for name, url in [('CodeAcademy', "https://www.codecademy.com/"),
                                             ("Python Docs", "https://docs.python.org/3/"),
                                             ("CodeWars", "https://www.codewars.com/")] %}
                            <li>
                                <a href={{ url }} class="btn btn-default btn-lg"> {{ name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr class="light">
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About the Instructor</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}