{% extends "bootstrap/base.html" %}

{% block title %}
Python Workshop
{% endblock %}


{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/3-col-portfolio.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename="font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
{#    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">#}


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% endblock %}


{% block navbar %}
    {{ super() }}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
{#    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">#}
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SciPy Workshop</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    {% for num in [0, 1, 2, 3] %}
                    <li>
                        <a href="#day{{ num }}">Day {{ num }}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="/final_project">Final Project</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}



{% block body %}
    {{ super() }}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MPI Programming Workshop</h1>
                        <h2>"Introduction to Scientific Programming with Python"</h2>
                        <hr class="intro-divider">
                        <h3>4 Days: November 7th - 10th, 2016</h3>
                        <h3>Address: MPI Neurobiology Campus, Room NQ105, Planegg, Germany</h3>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <section class="bg-primary" id="installation">
        <div class="container text-center">
            <hr class="light">
            <h2 class="section-heading">Before the Workshop: Install Required Software</h2>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <ul class="list-inline">
                        {% for name, url in [("Anaconda Python 3 Distribution", "https://www.continuum.io/downloads"),
                                             ("Atom Text Editor", "https://atom.io/"),
                                             ("Cygwin (Windows Only)", "https://cygwin.com/install.html"),
                                             ("Git", "https://www.git.com")]%}
                            <li>
                                <a href="{{ url }}" class="btn btn-default btn-lg">{{ name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr class="light">
                </div>
            </div>
        </div>
    </section>

    <!-- Page Content -->

    <section id="goals">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Workshop Goals</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for name, text in [('Accessible', 'No Programming Experience Required.'),
                                            ('Engaging', 'Learn Free, Open-Source Data Analysis Tools.'),
                                            ('Empowering', 'Leave with new Tools and Strategies for your Data Analysis'),
                                            ('Fun', 'Hands-On Learning Alongside Your Labmates')] %}
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <h3>{{ name }}</h3>
                            <p class="text-muted">{{ text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <hr>

    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Course Plan</h1>
                </div>
            </div>

            <!-- Projects Row -->
            {% for num, day in days %}

                <div class="content-section-b" id="day{{ num }}">

                    {#  Row Title          #}
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="section-heading text-center">Day {{ num }}: {{ daydata[num].title }}</h1>
                        </div>
                    </div>

                    <div class="row">
                        {% for lesson in day %}
                            <div class="col-md-4 portfolio-item text-center">
                                {% if links_active %}
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_lesson_{{ lesson.num }}" style="background-color: transparent; border-color: transparent">
                                {% endif %}


                                    <i class="fa fa-4x {{ lesson.icon }} text-primary sr-icons" ></i>

                                {% if links_active %}
                                </button>
                                {% endif %}
                                <h3> {{ lesson.title }} </h3>
                                <p>{{ lesson.summary }}</p>

                            </div>


                            <!-- Modal -->
                            {% if links_active %}
                            <div id="modal_lesson_{{ lesson.num }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{ lesson.title }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h2> Exercise Files </h2>
                                            <ul>
                                            {% for filename in lesson.exercises %}
                                                <li><a href="/file/{{ filename }}">{{ filename }} </a></li>

                                            {% endfor %}
                                            </ul>
                                            <hr>
                                            {{ lesson.html|safe }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endif %}

                        {% endfor %}


                    </div>

                </div>
            {% endfor %}

        </div>
        </div>
        <!-- /.container -->
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">After the Workshop: Continue Learning and Growing!</h2>
                    <hr class="light">
                    <ul class="list-inline">
                        {% for name, url in [('CodeAcademy', "https://www.codecademy.com/"),
                                             ("Python Docs", "https://docs.python.org/3/"),
                                             ("CodeWars", "https://www.codewars.com/")] %}
                            <li>
                                <a href={{ url }} class="btn btn-default btn-lg"> {{ name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr class="light">
                </div>
            </div>
        </div>
    </section>


    <hr>

    <section id="contact">
        <div class="container text-center">
            <div class="img-centered">
                <div class="row">
                     <div class="col-md-6 text-right">
                         <h4>Nicholas A. Del Grosso</h4>
                     </div>
{#                     <div class="col-md-1">#}
{#                          <img class="img-responsive img-circle" src="{{ url_for('static', filename="img/profilepic.jpg") }}" alt="">#}
{#                     </div>#}
                     <div class="col-md-6 text-left">
                         <h4> delgrosso(at)bio(punkt)lmu(punkt)de </h4>
                     </div>
                </div>
            </div>
        </div>
    </section>

    <hr>


{% endblock %}