{% extends "base.html" %}

{% block title %}
Python 4-Day Workshop
{% endblock %}


{% block body %}
    {{ super() }}

    <header>
        <div class="container">
            <div class="page-header">
                <h1> <small> {{ daydata|length }}-Day Workshop</small></h1>
                <h1> {{ workshop.title }}</h1>
            </div>
            <div>
                <p> {{ workshop.summary }} </p>
            </div>
        </div>
    </header>


    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Course Plan</h1>
                </div>
            </div>


            <!-- Projects Row -->
            {% for day in daydata %}
                <div class="content-section-b" id="day{{ loop.index0 }}">

                    {#  Row Title          #}
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="section-heading text-center">Day {{ loop.index }}</h2>
                        </div>
                    </div>

                    <div class="row">
                        {% for lesson in day %}
                            <!-- Lesson Title and Summary-->
                            <div class="col-md-4 portfolio-item text-center">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_lesson_{{ lesson.path[8:] }}" style="background-color: transparent; border-color: transparent">
                                    <i class="fa fa-4x {{ lesson.icon }} text-primary sr-icons" ></i>
                                </button>
                                <h3> {{ lesson.title }} </h3>
                                <p>{{ lesson.summary }}</p>

                            </div>


                            <!-- Modal -->
                            <div id="modal_lesson_{{ lesson.path[8:] }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{ lesson.title }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ lesson.html|safe }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}


                    </div>

                </div>
            {% endfor %}

        </div>
        </div>
        <!-- /.container -->
    </section>



{% endblock %}